<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Gallery </title>
    <link rel="stylesheet" href="gallery.css">

</head>

<body>
    
    <section id="galerie" class="stilizare-sectiune">

        <h1> Aplicatii </h1>

        <div class="container-galerie">

            <a href="https://www.superbyte.site/studybunny">

                <img src="../Img/studybunny.png" alt="Poza 1">
                <h3> Study Bunny </h3>

            </a>

            <a href="https://pomofocus.io/">

                <img src="../Img/PomodoroTimer.png" alt="Poza 2">
                <h3> PomodoroTimer </h3>
            
            </a>

            <a href="https://flashcards.world/">
                
                <img src="../Img/Flashcards.png" alt="Poza 3">
                <h3> Flashcards </h3>
            
            </a>

        </div>

    </section>

</body>

</html>