<section>
    <div class="slideshow-container">
        <div class="mySlides fade">
            <div class="numbertext">1 / 6</div>
            <img src="Img/cover1.jpg" style="width:100%">
            <div class="text">Întotdeauna mi-am imaginat Paradisul ca fiind un fel de bibliotecă.</div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">2 / 6</div>
            <img src="Img/cover2.jpg" style="width:100%">
            <div class="text">Cine spune că are o singură viață de trăit acela nu știe cum se citește o carte.</div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">3 / 6</div>
            <img src="Img/cover3.jpg" style="width:100%">
            <div class="text">Lectura ne oferă destinații unde putem merge chiar dacă trebuie să rămânem acolo unde suntem.</div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">4 / 6</div>
            <img src="Img/cover4.jpg" style="width:100%">
            <div class="text">O cameră fără cărţi este ca un corp fără suflet.</div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">5 / 6</div>
            <img src="Img/cover5.jpg" style="width:100%">
            <div class="text">Cărţile sunt oglinzi: vezi în ele ceea ce ai deja înăuntrul tău.</div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">6 / 6</div>
            <img src="Img/cover6.jpg" style="width:100%">
            <div class="text">Niciodată nu judeca o carte după coperta ei.</div>
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
    </div>
</section>
